body{
    font-family: 'Asap', sans-serif;
    color: #2b2c2c;
    background-color: #ffffff;
    font-size: 18px;
    .container{
    }
    .container{
        .row{
            .questions{
            }
            .calculation{
                .hidden {
                    display: none;
                }
            }
        }
    }
}